.item {


    &__group {
     display: flex;
     width: 100%;
     overflow: auto;
    
     

        &-btn {
            font-weight: 700;
            font-size: 31px;
            line-height: 46px;
            text-align: right;
            color:$grey-soft;
            border: none;
            background: transparent;
            white-space: nowrap;
            margin-bottom: 22px;
            
        }
     
        &-btn:not(:first-child) {
            margin-left: 22px;
        }

        &-btn:first-child {
            margin-left: 22px;
        }
        
     
     
    }

    &__text {
        padding: 30px 0;
        border-top:  4px solid rgba(255, 255, 255, 0.3);
       


        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            margin-bottom: 30px;

        }

        &-description {
            font-size: 19px;
            line-height: 30px;
            color: $white;

        }



    }

}


@media  screen and (min-width:768px) {
    .item {


        &__group {
        
        
         
    
            &-btn {
                font-family: 'Montserrat', 'Arial' , sans-serif;
                font-size: 38px;
                margin-bottom: 57px;

                
            }
         
            &-btn:not(:first-child) {
                margin-left: 19px;
            }
    
            &-btn:first-child {
                margin-left: 53px;
            }
            
         
         
        }
    
        &__text {
            padding: 66px 0 56px;
            max-width: 95%;
        
           
    
    
            &-title {
                font-size: 30px;
                margin-left: 29px;
                margin-bottom: 35px;
                
             
    
            }
    
            &-description {
                margin-left: 29px;
               
               
    
            }
    
    
    
        }
    
    }



}
 

@media  screen and (min-width:1024px) {
    .item {
        display: flex;
        justify-content: space-between;
        border-top: none;
        padding-bottom: 48px;

        &__group {
        flex-direction: column;
        align-items: flex-end;
        overflow: visible;
        border-bottom: none;
        border-right:  4px solid rgba(255, 255, 255, 0.3);
        width: 43%;
        padding-right: 54px;
        padding-top: 10px;
       

        &-btn {
            margin-bottom: 0;
        }

        &-btn:not(:first-child){
            margin-top: 30px;
            

        }


    

        &-btn:last-child {
         margin-top: 26px;
        }
        

        }

        &__parent {
            width: 57%;
        }

        &__text {
            width: 80%;
            padding: 43px 10px 51px 0;
            border-top: none;

            &-title {
                margin-left: 30px;
                font-weight: 700;
                margin-bottom: 36px;
            }

      

        }
    }
    
}