$dark:#323264 ;
$dark-alt: #46466E;
$dark-soft:#686887;
$pink:#F0145A;
$blue-light:#24A3FF;
$blue-alt:#0085FF;
$blue-soft: #006CCF;
$grey-light:#F5F5FA;
$grey-alt:#EDEDF7;
$grey-soft:#B3B3BA;
$grey-sep:#E6E6F0;
$white:#FFFFFF;
$black:#000000;